.Faq
  color $color-charcoal
  padding 10rem 0 7.2rem

  @media (min-width $mq-md)
    &-container.container // some css is overwriting
      max-width 57rem

  h2
    font-size 3.6rem
    font-weight 600
    line-height 1.11
    color $color-cerulean
    margin 0 0 3.5rem

  h3
    font-size 2.4rem
    font-weight 600
    line-height 1
    color $color-night-rider
    margin 0 0 1.5rem

  p
    margin-bottom 1.5rem

  hr
    margin 2rem 0
    border-width 0.1rem
    border-style solid
    border-color #e1e1e1
    border-image initial
    border-left-color transparent
    border-right-color transparent
    border-top-color transparent

  ol
    padding 0 0 0 1.6em
    font-size 1.6rem
    line-height 1.5
    margin 0 0 1.6rem

    li
      margin 0 0 0.5rem
