.ValueProposals
  text-align center

  @media (max-width $mq-sm-max)
    padding 3.5rem 0

  @media (min-width $mq-md)
    padding 9.6rem 0 7rem

    &-container
      margin-bottom 9.5rem

  &-item
    @media (max-width $mq-sm-max)
      margin 0 0 50px

      &:last-child
        margin 0 0 40px

  &-icon
    display block
    margin 0 0 3.5rem

    svg
      max-width 9.6rem
      max-height 9.6rem
      display block
      margin 0 auto

  &-title
    font-size 1.6rem
    margin 0 0 1.6rem
    color $color-cerulean
    line-height 1.38;

  &-description
    font-size 1.4rem
    line-height 1.57
    color $color-charcoal
    margin 0
