#trusted-company
  background #0b7ab7 url('https://cdn2.hubspot.net/hubfs/3381861/remessa-lp/bg-trusted-company.jpg') no-repeat center
  background-size cover
  font-size 1.6rem
  line-height 2.4rem
  text-align center
  overflow hidden
  color #FFF

  h2
    color #FFF
    margin 6.4rem 0 4.8rem
    font-size 3.6rem
    line-height 1.2em

  .trusted-company-wrapper
    margin-bottom 4.8rem

  #trusted-company #TRUSTEDCOMPANY_widget_103546 .tc-background-color {
    background-color: transparent !important; }
  #trusted-company #TRUSTEDCOMPANY_widget_103546 .tc-border-color {
    border: 0 !important;
    padding-bottom: 0 !important; }
  #trusted-company #TRUSTEDCOMPANY_widget_103546 .tc-widget-horizontal-content .tc-widget-horizontal-item {
    color: #ffffff !important;
    position: relative; }
    #trusted-company #TRUSTEDCOMPANY_widget_103546 .tc-widget-horizontal-content .tc-widget-horizontal-item .tc-widget-horizontal-item--title {
      font-size: 1.5em !important; }
    #trusted-company #TRUSTEDCOMPANY_widget_103546 .tc-widget-horizontal-content .tc-widget-horizontal-item .tc-widget-horizontal-item--body {
      font-size: 1em !important;
      margin-bottom: 24px !important;
      word-break: break-word; }
      @media (max-width: 768px) {
        #trusted-company #TRUSTEDCOMPANY_widget_103546 .tc-widget-horizontal-content .tc-widget-horizontal-item .tc-widget-horizontal-item--body {
          margin-bottom: 12px !important;
          display: block; } }
      #trusted-company #TRUSTEDCOMPANY_widget_103546 .tc-widget-horizontal-content .tc-widget-horizontal-item .tc-widget-horizontal-item--body:before {
        display: none; }
    #trusted-company #TRUSTEDCOMPANY_widget_103546 .tc-widget-horizontal-content .tc-widget-horizontal-item .tc-widget-horizontal-item--author {
      position: absolute;
      bottom: 15px;
      right: 16px; }
      @media (max-width: 768px) {
        #trusted-company #TRUSTEDCOMPANY_widget_103546 .tc-widget-horizontal-content .tc-widget-horizontal-item .tc-widget-horizontal-item--author {
          position: inherit;
          bottom: inherit;
          right: inherit;
          font-size: 0.9em; } }
    #trusted-company #TRUSTEDCOMPANY_widget_103546 .tc-widget-horizontal-content .tc-widget-horizontal-item .tc-widget-horizontal-item .tc-ratings .tc-star-color {
      fill: #ff8800 !important; }
  #trusted-company #TRUSTEDCOMPANY_widget_103546 .tc-widget-horizontal-main .tc-ratings .tc-star-color {
    fill: #ff8800 !important; }
  #trusted-company #TRUSTEDCOMPANY_widget_103546 .tc-widget-horizontal .tc-carousel-inner .tc-item.tc-clickable {
    min-height: 215px; }
  #trusted-company #TRUSTEDCOMPANY_widget_103546 .tc-widget-horizontal .tc-carousel-control {
    background-color: transparent !important;
    opacity: 1; }
    #trusted-company #TRUSTEDCOMPANY_widget_103546 .tc-widget-horizontal .tc-carousel-control svg {
      width: 36px !important;
      height: 36px !important; }
      #trusted-company #TRUSTEDCOMPANY_widget_103546 .tc-widget-horizontal .tc-carousel-control svg path:nth-child(odd) {
        fill: #fff; }
      #trusted-company #TRUSTEDCOMPANY_widget_103546 .tc-widget-horizontal .tc-carousel-control svg path:nth-child(even) {
        fill: transparent; }
    #trusted-company #TRUSTEDCOMPANY_widget_103546 .tc-widget-horizontal .tc-carousel-control.tc-right {
      right: -50px !important; }
    #trusted-company #TRUSTEDCOMPANY_widget_103546 .tc-widget-horizontal .tc-carousel-control.tc-left {
      left: -60px !important; }
  #trusted-company #TRUSTEDCOMPANY_widget_103546 .tc-widget-horizontal ol.tc-carousel-indicators {
    margin-top: 35px; }
    #trusted-company #TRUSTEDCOMPANY_widget_103546 .tc-widget-horizontal ol.tc-carousel-indicators li {
      width: 12px;
      height: 12px;
      margin: 0 20px; }
      #trusted-company #TRUSTEDCOMPANY_widget_103546 .tc-widget-horizontal ol.tc-carousel-indicators li:first-child {
        margin-left: 0; }
      #trusted-company #TRUSTEDCOMPANY_widget_103546 .tc-widget-horizontal ol.tc-carousel-indicators li:last-child {
        margin-right: 0; }
      #trusted-company #TRUSTEDCOMPANY_widget_103546 .tc-widget-horizontal ol.tc-carousel-indicators li.tc-active {
        background-color: #ffffff; }
