.SimulatorWidget
  @media (max-width $mq-xs-max)
    &.container
      padding 0

  @media (min-width $mq-md)
    margin-top -4rem

  &-wrapper
    // border-radius 0.3rem
    overflow hidden

  &-iframe
    display block
    width 100%
    border 0
    height 51.4rem
    background transparent

    @media (min-width $mq-lg)
      height 27.7rem
