.ContactBox
  position relative
  padding 0 1.2rem
  margin -15rem 0 7rem
  z-index 10

  &-box
    padding 4rem 1.8rem
    background #FFF
    border-radius 0.8rem
    box-shadow 0 0 2rem 0 rgba(0, 0, 0, 0.15)
    text-align center
    margin 0 auto

    @media (min-width $mq-md)
      max-width 78.7rem
      padding 5rem 9rem

