*,
*::before,
*::after
  box-sizing border-box

html
  -ms-overflow-style -ms-autohiding-scrollbar
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  -webkit-tap-highlight-color transparent
  -webkit-text-size-adjust 100%
  font-size 62.5%
  line-height 1.15

body
  font-family "Open Sans",medium-content-sans-serif-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Helvetica Neue",sans-serif
  font-feature-settings "kern" 1, "liga" 1
  font-size 1.6rem
  line-height 1.5
  background $color-white-lilac
  color $color-suva-grey

h1, h2, h3, h4, h5, h6
  margin 0 0 .5rem

p
  margin 0 0 1.6rem
