// Colors
$color-cerulean = #07b
$color-charcoal = #444
$color-night-rider = #333
$color-suva-grey = #888
$color-white-lilac = #F3F3F4
$color-mountain-meadow = #0fa087
$color-slate-grey = #6e798f
$colo-orient = #266471
$color-bay-of-many = #334466
$color-medium-spring-green = #2e9

// Breakpoints
$mq-sm = unit(576 / 16, em)
$mq-md = unit(768 / 16, em)
$mq-lg = unit(992 / 16, em)
$mq-xl = unit(1200 / 16, em)

$_1-em-px = unit(1 / 16, em)

$mq-xs-max = ($mq-sm - $_1-em-px)
$mq-sm-max = ($mq-md - $_1-em-px)
$mq-md-max = ($mq-lg - $_1-em-px)
